.aoi-title{
    font-size: 1.3vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: fixed;
    background-color: #2f2fa2;
    color: #4b992c;
    top: 50.5%;
    left: 3%;
    z-index:1;
}

.txt-sup{
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: fixed;
    color: #FFFFFF;
    top: 15%;
    left: 3%;
    z-index:1;
    margin-left: 10px
}

.txt-inf{
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: fixed;
    color: #FFFFFF;
    top: 21%;
    left: 4.4%;
    z-index:1;
}

.xy-button{
    width: 6vw;
    height: 4vh;
    color: #4a982b;
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-left:0.5vw;
    border: 2px solid #4a982b;
    border-radius: 5px;
}

.xy-button-active{
    width: 6vw;
    height: 4vh;
    font-size: 1vw;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin-left:0.5vw;
    border: 2px solid #4a982b;
    border-radius: 5px;
}

.aoi-box{
    display: block;
    border-radius: 30px;
    border: 3px solid #4b992c;
    top: 12%;
    left: 1.5%;
    width: 26%;
    height: 30%;
    position: fixed;
    float: left;
}

.btn1{
    display: block;
    position: fixed;
    top: 35%;
    left: 18.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #4b992c;
    border: 3px solid #4b992c;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.btn2{
    display: block;
    position: fixed;
    top: 35%;
    left: 3.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #2f2fa2;
    border: 3px solid #4b992c;
    border-radius: 5px;
    color: #4b992c;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.btn1:hover{
    display: block;
    position: fixed;
    top: 35%;
    left: 18.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    color: #4b992c;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.btn2:hover{
    display: block;
    position: fixed;
    top: 35%;
    left: 3.1vw;
    width: 8.5vw;
    height: 5vh;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    color: #4b992c;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.radio-satelite{
    display: block;
    position: fixed;
    top: 29%;
    left: 8.1vw;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    color: #FFFFFF;
}

img{
    position: fixed;
    display: block;
    width: 20vw;
    left: 4%;
    top: 46%;
}

.invisible{
    display:none;
}

