.info-title{
    font-size: 1.3vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    position: fixed;
    background-color: #2f2fa2;
    color: #4b992c;
    top: 15.5%;
    left: 3%;
    z-index:1;
}

ul{
    font-size: 1.5vw;
    position:relative;
    color: #FFFFFF  ;
    top:1.5vh;
}

li::marker {
    color: #4b992c;
}

li:first-child::marker {
    font-size: 1.3vw;
}

li {
    margin: 0 0 0.5vw 0;
}